{% extends 'common/01_base.html' %}

{% block content %}
<div class="notifications">
    <h2>Your Notifications</h2>
    {% if notifications %}
        <ul>
        {% for notification in notifications %}
            <li>
                New note added to activity {{ notification.note.activity.title }}
                in project "{{ notification.note.activity.project.title }}"
                by {{ notification.note.created_by.profile.get_full_name }}:
                {{ notification.note.content|truncatewords:15 }}
                <small>{{ notification.created_at|timesince }} ago</small>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No new notifications</p>
    {% endif %}
</div>
{% endblock %}