{% extends 'common/../../01_base.html' %}

{% block title %}Password Reset - Hive Activities{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Enter your email address and we'll send you instructions to reset your password.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'users:login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}