{% extends 'common/01_base.html' %}

{% block title %}Password Reset Complete - Hive Activities{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Password Reset Complete</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        <p>Your password has been successfully reset!</p>
                        <p>You can now use your new password to log in.</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'users:login' %}" class="btn btn-primary">
                            Go to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}